<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ng属性</title>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/foundation.css"/>
    <style>
        .top{
            margin-top: 20px;
        }
        .odd{
            background: forestgreen;
            color: #ffffff;
        }
        .even{
            background: lightskyblue;
            color: #ffffff;
        }
        .red{
            background: orangered;
        }
    </style>
</head>
<body ng-app="ngattr">
<div class="row top">
    <div class="large-8 columns">
        <input type="text" ng-model="ID" placeholder="ID"/>
        <input type="email" ng-model="EMAIL" placeholder="Email"/>
        <input type="password" ng-model="PASSWD" placeholder="Password"/>
        <button ng-model="button" ng-disabled="(ID == null)||(EMAIL == null)||(PASSWD == null)">AButton</button>
    </div>
</div>

<input type="text" ng-model="name"/>

<div ng-switch on="name">
    <h1 ng-switch-default>谁是最有基础的人？</h1>
    <h1 ng-switch-when="文继飞">答对了！</h1>
</div>

<ul ng-controller="PeopleController">
    <li ng-repeat="person in people" ng-class="{even: $even, odd: $odd}">
         {{person.name}} lives in {{person.city}}
    </li>
</ul>

<div ng-controller="EquationController">
    <input type="text" ng-model="equation.x" ng-change="change()"/>
    <code>{{equation.output}}</code>
</div>
<!--使用ng-change调用controller中的函数来进行数据的监听功能-->

<form name="signup_form" ng-controller="FormController" ng-submit="SubmitForm()" novalidate>
    <div ng-repeat="field in fields" ng-form="signup_form_input">
        <input type="text" name="dynamic_input" ng-required="field.isRequired" ng-model="field.name"
               placeholder="{{field.placeholder}}"/>
        <div ng-show="signup_form_input.dynamic_input && signup_form_input.dynamic_input.$invalid">
            <span class="error" ng-show="signup_form_input.dynamic_input.$error.required">
                This field is required.
            </span>
        </div>
    </div>
    <button type="submit" ng-disabled="signup_from.$invalid">
        Submit All
    </button>
</form>

<div ng-controller="CityController">
    <select ng-model="city"
            ng-options="city.name for city in cities">
        <option value="">Choose City</option>
    </select>
    Best City: {{city.name}}
</div>

<div ng-controller="LotteryController">
    <div ng-class="{red: x > 5}" ng-if="x > 5">
        You won!
    </div>
    <button ng-click="x = generateNumber()" ng-init="x = 0">
        Draw Number
    </button>
    <p>Number is : {{x}}</p>
</div>


</div>

</body>
</html>